.staffProfile__title {
  margin: 3rem;
}

.staffProfile__title--name {
  font-size: 3rem;
  font-weight: 600;
}

.staff-detail__breadcrumb {
  color: #0000009e;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 2rem;
  font-weight: 500;
}

.staff-detail__breadcrumb > svg {
  color: #2d6a4f;
  padding: 0.1rem;
  margin: 0 1rem;
}

.staff-detail__breadcrumb span:first-child:hover {
  color: #2d6a4f;
  cursor: pointer;
}

.staffProfile-top {
  /* background-color: aqua; */
  display: flex;
  margin: 2rem auto;
}
.profile__infor__avatar {
  width: 30%;
  margin-left: 10%;
}

.profile__infor__avatar__img {
  border-radius: "50%";
  object-fit: "cover";
  border-radius: 50%;
  display: block;
  object-fit: cover;
}

.profile__infor__avatar #fileInput {
  display: none;
}

.profile__infor__avatar__btn {
  background: #0aad0a;
  border: none;
  margin-top: 2rem;
  color: white;
  width: 20rem;
}

.profile__infor__avatar__btn:hover {
  background-color: #bbb;
  color: black;
}

.staff-title {
  margin-top: 5rem;
}
.staff-name {
  font-size: 5rem;
  font-weight: 700;
}
.staff__title-info {
  font-size: 2rem;
  font-weight: 500;
}

/* bao ngoài form */
.profile__infor__form {
  width: 80%;
  /* background-color: antiquewhite; */
  margin: 2rem auto;
  padding: 1.5rem 0;
}

/* mỗi dòng label + input */
.profile__infor__fullname,
.profile__infor__position,
.profile__infor__email,
.profile__infor__address,
.profile__infor__phone,
.profile__infor__pass {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 3rem;
  margin-bottom: 3rem;
}

/* label cố định đủ rộng, không wrap */
.profile__infor__fullname label,
.profile__infor__position label,
.profile__infor__email label,
.profile__infor__address label,
.profile__infor__phone label,
.profile__infor__pass label {
  flex: 0 0 15rem; /* label luôn chiếm 12rem (~192px) */
  white-space: nowrap; /* không cho xuống hàng */
  font-size: 2rem;
  font-weight: 400;
  text-align: left;
}

/* input sẽ chiếm phần còn lại */
.profile__infor__fullname input,
.profile__infor__position select,
.profile__infor__email input,
.profile__infor__address input,
.profile__infor__phone input,
.profile__infor__pass input {
  flex: 1;
  height: 4rem;
  font-size: 1.5rem;
  padding: 0 0.75rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #fafafa;
}

.profile__infor__form__btn {
  height: 4rem;
  width: 25rem;
  font-size: larger;
  border: none;
  background-color: #0aad0a;
  color: white;
  position: relative;
  left: 40%;
}

@media (max-width: 600px) {
  .profile__infor {
    flex-direction: column;
  }
  .profile__infor__form {
    width: 100%;
    margin: 0 auto;
  }
  .profile__infor__avatar {
    width: 100%;
    margin: 2rem auto;
  }
  .staffProfile-top {
    flex-wrap: wrap;
  }
  .profile__infor__form__btn {
    position: relative;
    left: 10%;
  }
}
