.products {
  margin: 3rem;
}

.products__title {
  font-size: 3rem;
  font-weight: 600;
}

.products__breadcrumb {
  color: #0000009e;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 2rem;
  font-weight: 500;
}

.products__breadcrumb > svg {
  color: #2d6a4f;
  padding: 0.1rem;
  margin: 0 1rem;
}

.products__breadcrumb span:first-child:hover {
  color: #2d6a4f;
  cursor: pointer;
}

.products__content {
  margin-top: 5rem;
}

.products__content--search {
  padding: 0.7rem 2rem;
  width: 40rem;
  border-radius: 0.6rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.249);
}

.products__content--table {
  margin-top: 2rem;
  width: 100%;
  border-collapse: collapse;
}

.products__content--table th {
  background-color: #f0f3f2;
  color: #5c6c75;
  text-align: center;
  height: 5rem;
}

.products__content--table td {
  text-align: center;
  height: 8rem;
}

.products-status {
  padding: 0.5rem 1.4rem;
  color: white;
  background-color: #006838;
  border-radius: 0.4rem;
  font-weight: 600;
}

input[type="checkbox"] {
  accent-color: #006838;
  cursor: pointer;
}

.edit-icon {
  cursor: pointer;
}
.edit-icon:hover {
  color: #006838;
}
