.admin-nav-container {
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 99;
}

.admin-nav__logo {
  display: flex;
  align-items: center;
  height: 10rem;
  margin-left: 7rem;
  position: relative;
}
.admin-nav__logo > img {
  width: 19rem;
  object-fit: cover;
}

.admin-nav__logo--title {
  color: #0000009e;
  position: absolute;
  font-weight: 700;
  font-size: 2.8rem;
  top: 5.8rem;
  left: 15rem;
}
