* {
  /* margin: 0;
  padding: 0; */
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  /* border: 1px solid black; */
}

body {
  height: 100vh;
  font-family: "Inter", sans-serif;
  /* background-color: #b3e5fc !important; */
  font-size: 1.5rem !important;
  /* width: 80% !important; */
  margin: auto !important;
  /* color: black !important; */
}


html {
  /* Để quy đổi 1rem = 10px, nay mai dễ thay đổi toàn bộ trang web */
  font-size: 62.5%;
}